<app-menubar></app-menubar>

<mat-card class="card-class">
    <mat-card-header>
      <mat-card-title>New Staff Registration</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="example-form" [formGroup]="registerstaffform" (ngSubmit)="regStaffdetails()">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter Name" formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter Email Address" formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>License Number</mat-label>
              <input matInput placeholder="Enter License Number"formControlName="license" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username must contain minimun of 5 characters" formControlName="username" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder=" Enter Password" formControlName="password">
            </mat-form-field>
            <div class="auth">
                <button mat-raised-button type="submit" style="margin: 7px" color="primary" [disabled]="registerstaffform.invalid" >Register</button>
                <a (click)="redirecttoHome()" mat-raised-button style="margin: 7px" color="accent">Close</a>
            </div>
          </form>
    </mat-card-content>
    
  </mat-card>
