.card-class{
    margin: 5%;
    width: 25%;
    float: left;
    margin-left: 15%;
}

  
  .example-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-full-width {
    width: 100%;
  }
  

  